@model IEnumerable<wardrobe.Models.Accessory>

@{
    ViewBag.Title = "Accessories";
}

<h2>Accessories</h2>

<p>
    @Html.ActionLink("Add Accessory", "Create")
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="indexBox">
                <div class="col col-md-2">
                    <img id="indexImg" src="@Url.Content(item.AccessoryPhoto)" />
                </div>
                <div id="indexText" class="col-md-4">
                    <h3>@Html.DisplayFor(modelItem => item.AccessoryName)</h3>
                    <p>
                        @Html.DisplayFor(modelItem => item.AccessoryType.AccessoryName)<br />
                        @Html.DisplayFor(modelItem => item.Color.ColorName)<br />
                        @Html.DisplayFor(modelItem => item.Season.SeasonName)<br />
                        @Html.DisplayFor(modelItem => item.Occassion.OccassionName)
                        <br />
                        <span>
                            @Html.ActionLink("Edit", "Edit", new { id = item.AccessoryID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.AccessoryID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.AccessoryID })
                        </span>
                    </p>
                </div>
            </div>
        }
    </div>
</div>

