@model wardrobe.Models.Top

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Top</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopName)
        </dd>

        <dt>
            Color:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.ColorName)
        </dd>

        <dt>
            Type:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopType.TopTypeName)
        </dd>

        <dt>
            Season:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season.SeasonName)
        </dd>

        <dt>
            Occasion:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occassion.OccassionName)
        </dd>

        <dt>
            Photo:
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.TopPhoto)<br />
            <img src="@Url.Content(Model.TopPhoto)" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TopID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
